.videos-container {
  opacity: 0;
  transition: opacity 3s var(--easing-img-fade-in);
  width: 100%;
}
.videos-container.visible {
  opacity: 1;
}
.videos-container > div > div {
  gap: 0.086956rlh; /* 2px */
}
.el {
  background-color: black;
  height: calc(27rlh + 1px);
  aspect-ratio: 16 / 9;
  opacity: 1;
  transition: opacity 2.1s var(--easing-img-fade-in); /* power2.out */
  position: relative;
  overflow: hidden;
}
.el img {
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  opacity: 1;
}
.videos-container .el img {
  transform: scale(1.17);
  filter: blur(10px) brightness(3.8) saturate(3.8);
  transition: all 2.1s var(--easing-img-fade-in); /* power2.out */
}
.videos-container.in-view .el img {
  transform: scale(1);
  filter: blur(0px) brightness(1) saturate(1);
}

@media all and (min-width: 4163px) {
  .videos-container {
    justify-content: center;
  }
  .videos-container > div > div {
    transform: translate3d(-1px, 0, 0) !important;
  }
}

@media all and (max-width: 820px) {
  .el {
    height: calc(16rlh + 2px);
  }
}
