:root {
  /* Color Primitives */
  --primitive-color-vova-0: hsla(180, 3%, 6%, 1);
  --primitive-color-vova-100: hsla(180, 3%, 94%, 1);
  --primitive-color-vova-200: hsla(0, 0%, 100%, 1);
}
/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --primitive-color-vova-0: color(display-p3 0.058824 0.062745 0.062745);
    --primitive-color-vova-100: color(display-p3 0.941176 0.937255 0.937255);
    --primitive-color-vova-200: color(display-p3 1 1 1);
  }
}
:root {
  /* Color Tokens */
  --token-color-text-primary: var(--primitive-color-vova-0);

  --token-color-surface-primary: var(--primitive-color-vova-200);
  --token-color-surface-secondary: var(--primitive-color-vova-100);
  --token-color-surface-contrast: var(--primitive-color-vova-0);

  /* Letter Spacing */
  --token-letter-spacing-1: -0.017em;
  --token-letter-spacing-2: -0.01em;
  --token-letter-spacing-3: -0.005em;
  --token-letter-spacing-4: 0em;
  --token-letter-spacing-5: 0.005em;

  /* Font Size */
  --token-font-size-1: clamp(
    4rem,
    -0.0002rem + 5.7294vw,
    9.1669rem
  ); /* 110px at 1920, 146px at 2560, 79px at 1386, 64px at 1150, 40px at 375 */
  --token-font-size-2: clamp(
    3.6094rem,
    -0.0002rem + 4.167vw,
    6.6669rem
  ); /* 80px at 1920, 106.67px at 2560, 57.75px at 1386, 40px at 375 */
  --token-font-size-3: clamp(
    2.5269rem,
    0.0004rem + 2.9165vw,
    4.6669rem
  ); /* 56px at 1920, 74.67px at 2560,  40.43px at 1386, ?? at 375 */
  --token-font-size-4: clamp(
    1.3538rem,
    0.0005rem + 1.5622vw,
    2.5rem
  ); /* 30px at 1920, 40px at 2560, 21.66px at 1386, ?? at 375 */
  --token-font-size-5: clamp(
    0.9925rem,
    0.0001rem + 1.1457vw,
    1.8331rem
  ); /* 22px at 1920, 29.33px at 2560, 15.88px at 1386, 18px at 375 */
  --token-font-size-6: clamp(
    0.8125rem,
    0.0009rem + 0.937vw,
    1.5rem
  ); /* 18px at 1920, 24px at 2560, 13px at 1386, 14px at 375 */
  --token-font-size-7: clamp(
    0.8125rem,
    0.3181rem + 0.5707vw,
    1.2313rem
  ); /* 16px at 1920, 19.6px at 2560, 13px at 1386, 14px at 375 */
}
