button.sound {
  opacity: 0;
  visibility: hidden;
  background-color: var(--token-color-surface-primary);
  width: 1.826rlh;
  height: 1.826rlh;
  border-radius: 100%;
  margin-top: -0.255rlh;
  margin-right: 0.3478rlh;
  transition: opacity 0.425s var(--easing-text-fade-in);
  pointer-events: all;
  position: relative;
}
button.sound:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.65s var(--easing-text-fade-out);
}
button.sound > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.sound img {
  width: 0.9rlh;
  height: 0.9rlh;
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
