.controls-container {
  position: absolute;
  top: 1rlh;
  right: 1rlh;
  display: flex;
  flex-direction: row;
  z-index: 2;
  pointer-events: none;
}
.controls-container .stop-container {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row;
}
.controls-container .controls-bubble {
  border-radius: 100%;
  background-color: var(--token-color-surface-primary);
  width: 1.826rlh;
  height: 1.826rlh;
  margin-top: -0.255rlh;
  margin-right: 0.37rlh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
.controls-container .controls-bubble img {
  width: 1rlh;
  height: 1rlh;
  user-select: none;
}
.controls-container button.stop {
  background: none;
  color: red;
  padding: 0.39rlh;
  padding-top: 0.61rlh;
  border-radius: 1.875rem;
  border: 0.1rlh solid red;
  margin-top: -0.305rlh;
  height: fit-content;
  margin-right: 3.8rlh;
  /*opacity: 0;
  visibility: hidden;
  filter: blur(2px);*/
  pointer-events: all;
  transition: opacity 0.65s var(--easing-text-fade-out);
}
.controls-container button.stop:disabled {
  pointer-events: none;
}
.controls-container button.stop:hover,
.controls-container button.stop:focus-visible {
  transition: opacity 0.425s var(--easing-text-fade-in);
  opacity: 1 !important;
}
.controls-container > p {
  text-align: right;
  opacity: 0.4;
  right: calc(0.35rlh + 1.826rlh);
  position: absolute;
  transition: all 0s;
}
.controls-container button.forward {
  background-color: var(--token-color-surface-primary);
  width: 1.826rlh;
  height: 1.826rlh;
  border-radius: 100%;
  margin-top: -0.255rlh;
  margin-right: -0.255rlh;
  transition: opacity 0.425s var(--easing-text-fade-in);
  pointer-events: all;
  position: relative;
}
.controls-container button.forward:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.65s var(--easing-text-fade-out);
}
.controls-container button.forward .circle-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotate(0deg);
  pointer-events: none;
}
.controls-container button.forward .circle-container .circle {
  width: 0.174rlh; /* 4px */
  height: 0.174rlh;
  border-radius: 100%;
  margin: 0.08695rlh; /* 2px */
  background-color: red;
}
.controls-container button.forward > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls-container button.forward img {
  width: 0.9rlh;
  height: 0.9rlh;
  user-select: none;
  pointer-events: none;
}
