:root {
  /* Color Primitives */
  --primitive-color-vova-0: hsla(180, 3%, 6%, 1);
  --primitive-color-vova-100: hsla(180, 3%, 94%, 1);
  --primitive-color-vova-200: hsla(0, 0%, 100%, 1);
}
/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --primitive-color-vova-0: color(display-p3 0.058824 0.062745 0.062745);
    --primitive-color-vova-100: color(display-p3 0.941176 0.937255 0.937255);
    --primitive-color-vova-200: color(display-p3 1 1 1);
  }
}
:root {
  /* Color Tokens */
  --token-color-text-primary: var(--primitive-color-vova-0);
  --token-color-text-contrast: var(--primitive-color-vova-200);

  --token-color-surface-primary: var(--primitive-color-vova-200);
  --token-color-surface-secondary: var(--primitive-color-vova-100);
  --token-color-surface-contrast: var(--primitive-color-vova-0);

  /* Letter Spacing */
  --token-letter-spacing-1: -0.046em;
  --token-letter-spacing-2: -0.032em;
  --token-letter-spacing-3: -0.024em;
  --token-letter-spacing-4: -0.02em;
  --token-letter-spacing-5: -0.015em;
  --token-letter-spacing-6: -0.01em;

  /* Font Size */
  --token-font-size-1: 4.147826rlh; /* 95.4px */
  --token-font-size-2: 2.73913rlh; /* 63px */
  --token-font-size-3: 1rlh; /* 23px */
  --token-font-size-4: 0.782608rlh; /* 18px */

  /* Sizes */
  --columns-gap: 5.173913rlh; /* 119px */
  --columns-canvas-margin: 2.173913rlh; /* 50px */
  --first-column-width: calc(
    11.3542ch + var(--columns-canvas-margin) + (6rlh - 1px)
  );
  --second-column-width: calc(
    6.8935ch + var(--columns-canvas-margin) + (6rlh - 1px)
  );
  --mobile-max-width: 17.7225rlh; /* 319px on mobile */

  /* Easings */
  --easing-text-fade-in: cubic-bezier(0.6, 0.4, 0.7, 0.5); /* power1.in */
  --easing-text-fade-out: cubic-bezier(0.2, 0.6, 0.15, 1); /* power4.out */
  --easing-img-fade-in: cubic-bezier(0.15, 0.35, 0.35, 1); /* power2.out */
}
@media all and (max-width: 940px) {
  :root {
    /* Sizes */
    --columns-gap: 6.3vw;
    --columns-canvas-margin: 3vw;
  }
}

/* Typography */
/*
Fluid typographu calculator:
@link https://utopia.fyi/type/calculator?c=1386,13,0,2560,24,1.25,0,0,1920&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
but replace 'vi' with 'vw'
*/
h1,
.text-header-1 {
  font-size: var(--token-font-size-1);
  font-family: var(--lausanne);
  font-weight: 600;
  letter-spacing: var(--token-letter-spacing-1);
  text-transform: none;
  height: 3rlh;
  line-height: 70%;
}
h2,
.text-header-2 {
  font-size: var(--token-font-size-2);
  font-family: var(--lausanne);
  font-weight: 600;
  letter-spacing: var(--token-letter-spacing-2);
  text-transform: none;
  height: 2rlh;
}
.text-header-3 {
  font-size: var(--token-font-size-4);
  font-family: var(--timesnew);
  font-weight: 400;
  font-style: italic;
  letter-spacing: var(--token-letter-spacing-6);
  text-transform: none;
  line-height: 66%;
  padding-left: 1px;
}
.text-body-1 {
  font-size: var(--token-font-size-3);
  font-family: var(--lausanne);
  font-weight: 600;
  letter-spacing: var(--token-letter-spacing-3);
  text-transform: none;
  line-height: 69.5%;
}
.text-body-1-uppercase {
  font-size: var(--token-font-size-3);
  font-family: var(--lausanne);
  font-weight: 600;
  letter-spacing: var(--token-letter-spacing-4);
  text-transform: uppercase;
  line-height: 70%;
}
.text-body-2 {
  font-size: var(--token-font-size-3);
  font-family: var(--lausanne);
  font-weight: 400;
  letter-spacing: var(--token-letter-spacing-4);
  text-transform: none;
}
.text-body-2 p {
  line-height: 50.5%;
}
.text-body-1 p,
.text-body-1-uppercase a,
.text-body-2 p,
.text-header-3 {
  height: 1rlh;
}
.text-body-3 {
  font-size: var(--token-font-size-4);
  font-family: var(--lausanne);
  font-weight: 600;
  letter-spacing: var(--token-letter-spacing-4);
  height: 1rlh;
  line-height: 70%;
}
.text-body-1 p,
.text-body-1-uppercase a,
.text-body-2 p,
h1,
h2,
.text-header-3,
.text-body-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Surfaces */
.surface-color-primary {
  background-color: var(--token-color-surface-primary);
}
.surface-color-secondary {
  background-color: var(--token-color-surface-secondary);
}
.surface-color-contrast {
  background-color: var(--token-color-surface-contrast);
}

@media all and (max-width: 820px) {
  :root {
    --token-letter-spacing-1: -0.05em;
    --token-letter-spacing-6: -0.025em;

    --token-font-size-1: 1.85rlh;
    --token-font-size-2: 1.85rlh;
  }
  h1,
  .text-header-1 {
    height: 2rlh;
  }
  .text-header-3 {
    line-height: 67%;
  }
}
@media all and (max-width: 470px) {
  .text-header-3 {
    line-height: 69%;
  }
}
@media all and (max-width: 390px) {
  :root {
    --token-letter-spacing-1: -0.054em;

    --token-font-size-1: 1.7rlh;
    --token-font-size-2: 1.7rlh;
  }
}
@media all and (max-width: 335px) {
  :root {
    --token-font-size-1: 1.65rlh;
    --token-font-size-2: 1.65rlh;
  }
}
@media all and (max-width: 300px) {
  .text-body-2 p {
    line-height: 50%;
  }
}
