.skills {
  padding-top: 1rlh;
  display: flex;
  flex-direction: row;
  gap: 119px;
  height: 8rlh;
}
.skills .chair-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.skills .chair-container .chair {
  margin-top: calc(1rlh + 1px);
  width: calc(6rlh - 1px);
  height: calc(6rlh - 1px);
  background-color: var(--token-color-surface-secondary);
}
.skills div h3 {
  margin-bottom: 1rlh;
}

.description {
  margin-top: 4rlh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description .timeline {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rlh;
  align-items: flex-end;
}
.timeline div {
  height: calc(var(--token-font-size-4) * 0.68);
  width: 110px;
  margin-left: 10px;
  margin-right: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
.timeline div::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--token-color-text-primary);
}
.description p {
  text-align: center;
  max-width: 500px;
}

.marquee-container {
  margin-top: 6rlh;
  width: calc(100% + 50px);
  margin-left: -25px;
  display: flex;
  justify-content: center;
  background-color: var(--token-color-surface-primary);
}
.marquee-container .marquee {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.marquee div {
  background-color: var(--token-color-surface-contrast);
  height: calc(23rlh + 1px);
  width: calc(23rlh + 1px);
}

.clients {
  margin-top: calc(4rlh - 1px);
  display: flex;
  flex-direction: row;
  gap: 119px;
  padding-bottom: 5rlh;
  width: fit-content;
}
.clients > div:nth-of-type(1) {
  width: calc(11.3542ch + 50px + (6rlh - 1px));
}
.clients .client-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rlh;
}
.clients .client-container:last-of-type {
  margin-bottom: 0;
}
.clients .client-container h1 {
  text-wrap: nowrap;
}
.clients .client-container h3 {
  margin-left: 8px;
  text-wrap: nowrap;
}
.clients .client-container.rove h3 {
  margin-left: 10px;
}
.clients .client-container.jpw h3 {
  margin-left: 9px;
}
