.hero-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}
.hero-container .title {
  position: absolute;
  left: 1rlh;
  top: 1rlh;
}

.description {
  margin-top: 14rlh;
  margin-bottom: 11rlh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(1rlh + 0.2173913rlh);
  align-items: flex-end;
  justify-content: center;
  pointer-events: all;
  user-select: all;
  margin-right: 1.15rlh;
}
.timeline > div {
  height: calc(var(--token-font-size-4) * 0.68);
  width: 4.782608rlh; /* 110px */
  margin-left: 0.44rlh;
  margin-right: 0.37rlh;
  position: relative;
  display: flex;
  align-items: center;
}
.timeline > div::after {
  content: "";
  height: 1px;
  margin-top: 1px;
  background-color: var(--token-color-text-primary);
  width: 100%;
}
.description p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.description p .invisible {
  opacity: 0;
  position: absolute;
  transform: translateX(-90%);
  white-space: pre-wrap;
}
.description .desktop {
  display: flex;
  flex-direction: column;
}
.description .mobile {
  display: none;
}

@media all and (min-width: 1300px) and (min-height: 935px) {
  .description {
    margin-top: 16rlh;
    margin-bottom: 10rlh;
  }
}
@media all and (max-width: 820px) {
  .hero-container {
    flex-direction: column-reverse;
    max-width: var(--mobile-max-width); /* 319px on mobile */
    width: 100%;
  }

  .description {
    margin-top: 3rlh;
    margin-bottom: 6rlh;
  }
  .description .desktop {
    display: none;
  }
  .description .mobile {
    display: block;
    width: 100%;
  }
  .description p {
    width: 100%;
    text-align: justify;
    text-align-last: justify;
  }
  .description p > * {
    flex: 1; /* Distributes available space evenly among children */
    text-align: justify; /* Ensures text inside child elements is justified */
  }
  .description p.align-left {
    text-align: left;
    text-align-last: left;
  }

  /*.skills {
    padding-top: 0;
    flex-direction: column;
    margin-top: 3rlh;
    height: fit-content;
    width: 100%;
    gap: 1rlh;
  }
  .skills .chair-container {
    gap: auto;
    justify-content: space-between;
  }*/
}
