.scrollbar-container {
  position: absolute;
  mix-blend-mode: difference;
  z-index: 1;
}
.scrollbar-container p {
  position: fixed;
  right: 1rlh;
  top: 1rlh;
  color: var(--token-color-surface-secondary);
  opacity: 0;
  transition: opacity 0.7s;
  transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
}

@media all and (max-width: 820px) {
  .scrollbar-container p {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 1rlh;
  }
}
