.about-container {
  padding-top: 3rlh;
  background-color: var(--token-color-surface-primary);
  width: 100%;
  z-index: 2;
}
.about {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(var(--small-text-line-height) * 4);
}
.about .text-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.025rlh;
  height: fit-content;
}
.about p {
  width: 100%;
  text-align: justify;
  text-align-last: justify;
}
.about p:last-of-type {
  text-align-last: left;
}

@media all and (max-width: 1060px) {
}
