.about-container {
  padding-top: 3rlh;
  background-color: var(--token-color-surface-primary);
  width: 100%;
  z-index: 2;
}
.about-container .text-container {
  position: relative;
  left: 0;
  top: 0;
  height: 4lh;
  line-height: 117%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.about-container .text-container > div {
  height: 100%;
}
.about-container p {
  text-wrap: wrap;
  line-height: 117%;
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.about-container p span {
  width: 100%;
  text-align: justify;
  text-align-last: justify;
}
.about-container p span:last-of-type {
  text-align-last: left;
}

@media all and (max-width: 1060px) {
}
