.clients {
  padding-top: 8rlh;
  padding-bottom: 6rlh;
  display: flex;
  flex-direction: row;
  gap: var(--columns-gap);
  width: fit-content;
  background-color: var(--token-color-surface-primary);
  z-index: 1;
}
.clients .subheader {
  margin-bottom: calc(-2 * (1rlh - var(--small-text-line-height)));
  margin-top: -0.155rlh;
}
/*.clients .subheader::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 105vw;
  transform: translateX(-1vw);
  height: 1px;
  background-color: black;
}*/
.clients > div:nth-of-type(1) {
  width: var(--first-column-width);
  position: relative;
}
.clients .client-container {
  display: flex;
  flex-direction: row;
  padding-top: 1.6rlh;
  padding-bottom: 1.6rlh;
  width: fit-content;
}
.clients .client-container div {
  display: flex;
}
.clients .client-container h1 {
  cursor: pointer;
}
/*.clients .client-container.in-view div {
  transition: all 0.4s var(--easing-text-fade-in);
}
.clients .client-container.in-view .faded {
  transition: all 0.65s var(--easing-text-fade-out);
  opacity: 0.25 !important;
  color: red !important;
  filter: blur(6px) !important;
}*/
.clients .client-container:first-of-type {
  padding-top: 0;
}
/*.clients .client-container:first-of-type::before {
  content: "";
  position: absolute;
  top: 0.87rlh;
  left: 0;
  width: 105vw;
  transform: translateX(-35%);
  height: 1px;
  background-color: black;
}*/
.clients .client-container:last-of-type {
  padding-bottom: 0;
}
/*.clients .client-container:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105vw;
  transform: translateX(-35%);
  height: 1px;
  background-color: black;
}*/
.clients .client-container span {
  margin-left: calc(0.347826rlh * 2.5); /* 8px * 2.5 */
  margin-top: -0.13rlh;
}
.clients .client-container:nth-of-type(5) span,
.clients .client-container:nth-of-type(6) span,
.clients .client-container:nth-of-type(7) span {
  margin-left: calc(0.347826rlh * 2.5 + 0.086956rlh); /* 8px * 2.5 + 2px */
}
.clients .client-container:nth-of-type(10) span,
.clients .client-container:last-of-type span {
  margin-left: calc(0.347826rlh * 2.5 + 0.043478rlh); /* 8px * 2.5 + 1px*/
}

@media all and (max-width: 1060px) {
  .clients {
    flex-direction: column;
    gap: 2rlh;
  }
  .clients > div:nth-of-type(1) {
    width: fit-content;
  }
}

@media all and (max-width: 820px) {
  .clients {
    max-width: var(--mobile-max-width); /* 319px on mobile */
    width: 100%;
    gap: 1rlh;
    padding-top: 5rlh;
    padding-bottom: 3.5rlh;
  }
  .clients .subheader {
    font-size: var(--token-font-size-4);
    letter-spacing: var(--token-letter-spacing-4);
    height: var(--small-text-line-height);
  }
  .clients .client-container {
    padding-bottom: 0rlh;
    padding-top: 1.25rlh;
    align-items: flex-end;
  }

  .clients .client-container span {
    margin-left: calc((0.347826rlh * 2.5) * 0.5); /* (8px * 2.5) / 2 */
  }
  .clients .client-container:nth-of-type(5) span,
  .clients .client-container:nth-of-type(6) span,
  .clients .client-container:nth-of-type(7) span {
    margin-left: calc(
      (0.347826rlh * 2.5 + 0.086956rlh) * 0.5
    ); /* (8px * 2.5 + 2px) / 2 */
  }
  .clients .client-container:nth-of-type(10) span,
  .clients .client-container:last-of-type span {
    margin-left: calc(
      (0.347826rlh * 2.5 + 0.043478rlh) * 0.5
    ); /* (8px * 2.5 + 1px) / 2*/
  }
}
