.work-container {
  background-color: var(--token-color-surface-primary);
  width: 100%;
  z-index: 2;
}
.work {
  height: calc(33rlh - 1px);
  width: fit-content;
  background-color: var(--token-color-surface-secondary);
  display: flex;
  position: relative;
  z-index: 2;
}

.work .clicks {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.work .clicks button:nth-of-type(1) {
  width: 50%;
  height: 100%;
  cursor: w-resize;
  -webkit-tap-highlight-color: transparent;
}
.work .clicks button:nth-of-type(2) {
  width: 50%;
  height: 100%;
  cursor: e-resize;
  -webkit-tap-highlight-color: transparent;
}

.work .image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .project-image {
  z-index: 3;
  width: 25rlh;
  height: 25rlh;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
}
.work .project-image::after {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;
  opacity: 1;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: opacity 1s var(--easing-img-fade-in); /* power2.out */
}
.work .project-image.in-view::after {
  transition: opacity 3s var(--easing-img-fade-in); /* power2.out */
  opacity: 0;
}
.work .project-image img,
.work .project-image video {
  width: 100%;
  height: 100%;
  transform: scale(1.005);
  transition: transform 1s var(--easing-img-fade-in); /* power2.out */
}
.work .project-image.in-view img {
  transform: scale(1.04);
  transition: transform 3s var(--easing-img-fade-in); /* power2.out */
}
.work .project-image.in-view .paradigm {
  transform: translateY(-1.5%) scale(1.04);
}
.work .project-image.in-view .jpw {
  transform: translateY(3.3%) scale(1.04);
}
.work .project-image.in-view .align {
  transform: translateY(1%) scale(1.04);
}

.work .project-details {
  position: absolute;
  top: auto;
  bottom: 0.86rlh;
  transform: translateY(0%);
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.work .project-details > div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.25rlh;
  min-width: 5rlh;
}
@media (hover: hover) {
  .work .project-details > div,
  .work .project-link {
    opacity: 0;
    filter: blur(2px);
    transition: opacity 1.05s ease-in-out, filter 1.05s ease-in-out;
  }
  .work:hover .project-details > div,
  .work:hover .project-link,
  .work:hover .project-details > div,
  .work:focus-within .project-link,
  .work:focus-within .project-details > div {
    opacity: 1;
    filter: blur(0px);
  }
}
.work .project-details > div:nth-of-type(1) {
  left: 1.4rlh;
}
.work .project-details > div:nth-of-type(2) {
  left: 0.54rlh;
}
.work .project-details > div .info {
  margin-bottom: -0.061rlh;
  height: 1lh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.work .project-details > div span {
  height: 1lh;
}

.work .project-link {
  display: block;
  position: absolute;
  width: fit-content;
  bottom: 0.18rlh;
  right: 0;
  z-index: 3;
}
.work .project-link a {
  padding: 0.6rlh 0.54rlh;
  height: 2rlh;
}

@media all and (max-width: 1060px) {
  .work {
    max-width: calc(100% - 7.42ch - 1rlh);
  }
}
@media all and (max-width: 820px) {
  .work-container {
    display: flex;
    justify-content: center;
    width: calc(100% + (var(--global-padding) * 2));
    margin-left: (var(--global-padding) * -1);
  }
  .work {
    max-width: var(--mobile-max-width); /* 319px on mobile */
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  .work .image-container {
    width: 100%;
    height: fit-content;
    position: relative;
    pointer-events: none;
  }

  .work .project-details {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.955rlh;
    padding-bottom: 1.98rlh;
    position: relative;
    top: 0;
    bottom: 0;
    height: fit-content;
  }
  .work .project-details > div:nth-of-type(1) {
    left: 0rlh;
    width: 10.5rlh;
  }
  .work .project-details > div:nth-of-type(2) {
    left: 3rlh;
  }
  .work .project-details > div {
    flex-direction: column;
    height: min-content;
    align-items: flex-start;
    gap: 0.6rlh;
    position: relative;
    transform: translateY(0%);
  }

  .work .project-link {
    position: relative;
    margin-left: auto;
    margin-top: 2.62rlh;
    bottom: 0;
  }
  .work .project-link a {
    padding: 0.7rlh 0.54rlh;
  }

  .work .project-details > div,
  .work .project-link {
    opacity: 1;
    filter: blur(0px);
  }
}
