.cursor-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  user-select: none;
  transition: opacity 0.6s cubic-bezier(0.6, 0.4, 0.7, 0.5);
  transition-delay: 0.4s;
}
.background-lines {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  background-position: 0 0;
  background-image: linear-gradient(
    to bottom,
    var(--token-color-surface-contrast) 1px,
    transparent 1px
  );
  background-size: 100vw 1rlh;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.6, 0.4, 0.7, 0.5);
}
.lines-gradient {
  height: 2.4rlh;
  width: 2.4rlh;
  margin-left: -1.2rlh;
  margin-top: -1.2rlh;
  border-radius: 0%;
  background: radial-gradient(
    circle at 50% 50%,
    transparent 0%,
    var(--token-color-surface-primary) 95%
  );
  opacity: 1;
  z-index: -1;
  position: fixed;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.6, 0.4, 0.7, 0.5);
}
body:hover .lines-gradient,
body:hover .background-lines {
  opacity: 1;
}
.cursor {
  position: fixed;
  left: calc(1rlh + 2px);
  top: 1rlh;
  pointer-events: none;
  z-index: 100;
  opacity: 1;
  user-select: none;
}
