.next-project-container {
  height: 10rlh;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
}

.next-project-container .el {
  height: 10rlh;
  aspect-ratio: 185 / 138;
  background-color: black;
}
